.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button1{
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    padding: 1px 6px;
    border-style: outset;
    background-color: #3883f6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-decoration:none;
}