.logo-links{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-right: 100px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding-inline-start: 0px;
    margin-left: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.logo{
    margin-left:100px;
    font-size: 24px;
    color: #F9FAF8
}

.header{
    display: flex;
    flex-direction: column;
}

.duplet{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.random{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom:100px;

}

.tiles{
    display: flex;
    gap: 32px;
    margin: 24px;
    justify-content: center;
}

.random-header{
    display: flex;
    justify-content: center;
    color:#1F2937;
    font-size: 32px;
    font-weight: bolder;
    margin: 24px;
}

a{
    text-decoration: none;
    font-size:18px;
    color:#E5E7EB

}

.button1{
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    padding: 1px 6px;
    border-style: outset;
    background-color: #3883f6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    text-decoration: none;
}

.quote{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background-color: #E5E7EB;
}

.call{
    display:flex;
    justify-content: center;
    padding: 64px;

}

.header{
    background-color: #1f2937;
}

.footer{
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.centralbox{
    background-color: #3883f6;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 24px 100px;
    gap: 100px

}

.website-awesome{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.awesome-subtext{
    color: #E5E7EB;   
    padding:8px

}

.frankenstein{
    flex-grow: 2;
    border-radius: 40px;
    min-width: 0px;
    max-width: 400px;
    margin-right: 100px;
}

.triplet{
    flex-grow: 1;
    margin-left: 100px;
}

.awesome-signin{
    border-radius: 4px;
    background-color: #3883f6;
    margin-top: 8px;
    color: #F9FAF8;
    padding: 1px 6px;
    
}

.munchkin-minister-1{
    border-radius: 10px;
    max-width: 200px;
    padding: 2px;
    background-color: #3883f6;
}

.munchkin-minister-2{
    border-radius: 10px;
    max-width: 200px;
    padding:2px;
    background-color: #3883f6;
}

.munchkin-minister-3{
    border-radius: 10px;
    max-width: 200px;
    padding:2px;
    background-color: #3883f6;
}

.munchkin-minister-4{
    border-radius: 10px;
    max-width: 200px;
    padding:2px;
    background-color: #3883f6;
}

.munchkin-ruler{
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 200px;
    flex-wrap: wrap;
}

.grandma-text{
    font-weight: bolder;
    text-decoration: underline;
}

.Othellos-last-wish{
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
}

.every-english-teacher{
    font-size: 32px;
    font-weight: bold;
}

.calling,.grandma{
    color:#F9FAF8
}

.calling{
    font-weight: bolder;
}

.contact{
    text-decoration: none;
    color: #F9FAF8;
}
